<div id="menu_box">
	<div id="lineBox">
		<div id="fLine" class="line"></div>
		<div id="sLine" class="line"></div>
		<div id="tLine" class="line"></div>
		<div id="lLine" class="line"></div>
	</div>
	
	<div id="box">
		<div id="menu1" class="menu">MENU1</div>
		<div id="menu2" class="menu">MENU2</div>
		<div id="menu3" class="menu">MENU3</div>
		<div id="menu3" class="menu">MENU4</div>
		<div id="menu3" class="menu">MENU5</div>				
	</div>
</div>

<script>

var nav_bar = false;

$("#lineBox").click(function(){
	if(!nav_bar){
		$("#menu_box").animate({
			"width" : getElSize(800),
			"height" : getElSize(1200)
		});
		
		//$("#lineBox").css("right", 0);
		drawCloseMark();
	}else{
		$("#menu_box").animate({
			"width" : getElSize(120),
			"height" : getElSize(120)
		});
		drawMenuMark()
	};
	
	nav_bar = !nav_bar;
});

function drawCloseMark(){
	$("#lLine, #fLine").animate({
		"opacity" : 0
	});
	
	$("#box").animate({
		"left" : (getElSize(800)/2) - ($("#box").width()/2)
	});
	
	$("#menu_box").css({
		"background" : "rgba(41,41,41,0.8)"
	});
	
	rotateBar(1, "close");
};

function drawMenuMark(){
	$("#lLine, #fLine").animate({
		"opacity" : 1
	});
	
	rotateBar(40, "open");
	
	$("#box").animate({
		"left" : -getElSize(500)
	});
	
	$("#menu_box").animate({
		"background" : "rgba(41,41,41,0)"
	});
};

function rotateBar(deg, ty){
	$("#sLine").css({
		"-webkit-transform": "rotate(" + deg + "deg)"	
	});	
	
	$("#tLine").css({
		"-webkit-transform": "rotate(-" + deg + "deg)"	
	});	
	
	if(ty=="close"){
		if(deg<=40){
			deg++;
			setTimeout(function(){
				rotateBar(deg, ty);	
			}, 10);
		};	
	}else{
		if(deg>=0){
			deg--;
			setTimeout(function(){
				rotateBar(deg, ty);	
			}, 10);
		};
	}
};

$("#menu_box").css({
	"width" : getElSize(120),
	"height" : getElSize(120),
	"position" : 'fixed',
	"border-width" : getElSize(5) + "px",
	"top" : getElSize(50),
	"left" : getElSize(50),
});

$(".menu").css({
	"font-size" : getElSize(100),
	"font-weight" : "bolder",
	"margin" : getElSize(50),
});

$(".line").css({
	"width" : getElSize(80),
	"border-width" : getElSize(2) + "px",
	"right" : getElSize(18),
});

$("#fLine").css({
	"position" : "absolute",
	"top" : getElSize(35)
});

$("#sLine, #tLine").css({
	"position" : "absolute",
	"top" : getElSize(55)
});

$("#lLine").css({
	"position" : "absolute",
	"top" : getElSize(75)
});

$("#lineBox").css({
	"position" : "absolute",
	"z-index" :9,
	"width" : $("#menu_box").width(),
	"top" : 0,
	"right" : 0,
	"height" : $("#menu_box").height(),
	"cursor" : "pointer",
});

$("#box").css({
	"position" : "absolute",
	"top" : getElSize(100),
	"left" : -getElSize(500)
});

$(".menu:hover").css({
	"color" :"red"
});
</script>